@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Recursive&display=swap');

html {
  height: 100%;
  background-image: url(background.jpg);
}
.App-header {
  background-color: white;
  justify-content: center;
  height: 90px;
  padding-top: 20px;
  width: 100%;
  box-shadow: 0 -6px 10px 10px rgba(0,0,0,0.5);
  text-align: left;
  user-select: none;
  pointer-events: none;
  text-align: center;
}

.logo {
  width: 50px;
  height: 50px;
}
h1 {
  font-size: 20px;
  margin: 0;
  font-family: 'Comfortaa';
}

.header {
  background: -webkit-linear-gradient(white, #aeaf90);
  user-select: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 220px;
}

#cover {
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  top: calc(50% + 75px);
  padding: 20px;
  margin: -83px auto 0 auto;
  /* ?64a273 */
  background-color: #6d6f51;
  border-radius: 15px;
  box-shadow: 0 10px 40px #6d6f51, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
  display: flex;
}
input,
button {
  color: rgb(243, 243, 243);
  font-family: 'Comfortaa';
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
button {
  padding-right: 20px;
}
input[type="text"] {
  width: 100%;
  height: 90px;
  font-size: 40px;
  line-height: 1;
}

input[type="text"]::placeholder {
  color: rgb(243, 243, 243)
}

.data {
  color: white;
}